.game-table td {
  height: 100px;
  width: 100px;
  border: 1px solid grey;
}
.game-table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}

.game-table {
  margin-left: auto;
  margin-right: auto;
}

#user-walk td.active {
  background-image: url("man.png");
  /* background-position: cover; */
  max-width: 100%;
  max-height: 100%;
}

.grandparent {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background-color: salmon;
}

.parent {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: springgreen;
}

.child {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  background-color: violet;
}
